<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="img/logo.png" alt="Simple Survey"></a>
    </div>

    <div class="collapse navbar-collapse" id="mobile-nav">    
      <ul class="nav navbar-nav navbar-right">
        <% if(title === "Home") { %>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/survey-listing">Browse Surveys</a></li>
            <li><a href="/survey-results">Survey Results</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        <% } else if(title == "Surveys") { %>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/survey-listing">Browse Surveys</a></li>
            <li><a href="/survey-results">Survey Results</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
         <% } else if(title == "Stats") { %>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/survey-listing">Browse Surveys</a></li>
            <li><a href="/survey-results">Survey Results</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
         <% } else if(title == "Contact") { %>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/survey-listing">Browse Surveys</a></li>
            <li><a href="/survey-results">Survey Results</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
         <% } %>
         <% if(displayName) { %>
          <li class="dropdown">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" href="/users">Hey, <%= displayName %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">My Surveys</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="/logout"><i class="icon "></i> Logout</a></li>
            </ul>
          </li>
         <% } else { %>         		
            <li class="menu-register"><a href="/login">Register</a></li>
            <li class="menu-login"><a href="/login">Sign In</a></li>
         <% } %>
      </ul>
    </div>

  </div>
</nav>