<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

  <section id="top-banner" class="section bg-intro intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-title">
          <h2>Get in Touch</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="main-content" class="section">
    <div class="container">
      <div class="row">
          
          <div class="col-md-8">
            <% if (messages) { %>
                <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= messages %></div>
            <% } %>
            <form method="post" class="login-form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name:" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="yourname@youremail.com" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your contact number" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control"  id="message" name="message" rows="5" placeholder="Enter Your Message Here..." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-blue">Send</button>
            </form>

          </div>
        </div>
    </div>
  </section>

<% include partials/footer.ejs %>