<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

  <!-- Top Banner -->
  <section id="top-banner" class="section padding-150 bg-intro">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row banner-content">
        <div class="col-md-10 col-md-offset-1">
            <h1>A simple way of creating surveys &amp; getting results!</h1>
            <h3>Create your surveys on the go and have people participate</h3>
            <div class="buttons-group">
              <a href="/register/" class="btn btn-default btn-blue">Get Started</a>
              <a href="#how-it-works" class="btn btn-lg btn-intro btn-primary">Learn More</a>
            </div>
        </div>
      
      </div>
    </div>
  </section>
  <!-- End Top Banner -->

  <section id="how-it-works" class="section border-bottom">
    <div class="container">
    
      <!-- Section Title -->      
      <div class="row">
        <div class="col-md-8 col-md-offset-2 title">
          <h2>How It Works</h2>
          <p>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>
        </div>
      </div>
      <!-- End Section Title -->
      
      <div class="row">
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-people-outline"></i>
          <h5>Documentation &amp; Support</h5>
        </div>
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-unlocked-outline"></i>
          <h5>Fully responsive &amp; tested</h5>
        </div>
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-barcode-outline"></i>
          <h5>Valid HTML5 / CSS3</h5>
        </div>
      </div>
      
    </div>
  </section>

  <section id="brief-intro" class="section bg-blue border-top border-bottom">
    <div class="container">

      <div class="row">
        <div class="col-md-6">        
          <img src="img/survey-mockup.png" alt="" title="" class="img-responsive hidden-xs hidden-sm">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 margintop-50">
              <h2>Intuitive - Simple - Fabulous</h2>
              <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
            </div>            
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <i class="font-icon ion-ios-paper-outline"></i>
              <h5>Clean &amp; Minimalistic</h5>
              <p>The regret on our side is, they used to say years ago, we are reading about you in science class.</p>
            </div>
            <div class="col-sm-6">
              <i class="font-icon ion-ios-loop"></i>
              <h5>Easy to customize</h5>
              <p>The regret on our side is, they used to say years ago, we are reading about you in science class.</p>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </section>

  <section id="features" class="section paddingbottom-60 border-bottom">
    <div class="container">
    
      <!-- Section Title -->      
      <div class="row">
        <div class="col-md-8 col-md-offset-2 title">
          <h2>Features</h2>
          <p>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>
        </div>
      </div>
      <!-- End Section Title -->
      
      <div class="row">
        <!-- Feature -->
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-people-outline"></i><!-- Feature Icon -->
          <h5>Documentation &amp; Support</h5><!-- Feature Title -->
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p><!-- Feature Details -->
        </div>
        <!-- End Feature -->
        <!-- Feature -->
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-unlocked-outline"></i>
          <h5>Fully responsive &amp; tested</h5>
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p>
        </div>
        <!-- End Feature -->
        <!-- Feature -->
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-barcode-outline"></i>
          <h5>Valid HTML5 / CSS3</h5>
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p>
        </div>
        <!-- End Feature -->
        <!-- Feature -->
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-gear-outline"></i>
          <h5>Cross browser compatibility</h5>
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p>
        </div>
        <!-- End Feature -->
        <!-- Feature -->
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-reload"></i>
          <h5>Minimalistic Design</h5><!-- Feature Title -->
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p><!-- Feature Details -->
        </div>
        <!-- End Feature -->
        <!-- Feature -->
        <div class="col-md-4 col-sm-6 feature">
          <i class="font-icon ion-ios-shuffle"></i>
          <h5>W3C Valid</h5>
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p>
        </div>
        <!-- End Feature -->
      </div>
      
    </div>
  </section>

  <section id="subscribe" class="section bg-footer">
    <div class="bg-overlay"></div>
    <div class="container">
    
      <div class="row">
        <div class="col-md-10 col-md-offset-1 title white-text">
          <h2>Stay connected</h2>
          <p>Astronomy compels the soul to look upward, and leads us from this world to another.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 white-text">
          <!-- Social Icons -->
          <ul class="social">
            <li><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li><!-- Twitter Icon -->
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li><!-- Facebook Icon -->
            <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li><!-- Dribble Icon -->
            <li><a href="#"><i class="icon ion-social-googleplus-outline"></i></a></li><!-- Googleplus Icon -->
            <li><a href="#"><i class="icon ion-social-linkedin-outline"></i></a></li><!-- Linkedin Icon -->
            <li><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li><!-- Instagram Icon -->
            <li><a href="#"><i class="icon ion-social-pinterest-outline"></i></a></li><!-- Pinterest Icon -->
          </ul>
          <!-- End Social Icons -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <!-- Footer Form -->
          <form class="bottom-form" action="bottom-form.php" method="post">
            <div class="input-group">
              <input class="form-control bottom-form-input" type="email" name="bottom-email" placeholder="Email Address" required="">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
              </div>
            </div>
          </form>
          <!-- End Footer Form -->
          <div class="form-process white-text"></div>
        </div>
      </div>
    </div>
  </section>

<% include partials/footer.ejs %>
    
