<% include partials/header.ejs %>
  <!-- Include Custom Page Header -->
  <% include partials/page-header.ejs %>

  <!-- Start Main Content -->
    <section id="people" class="section bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 members-holder">
                    <!-- Start Member Details  -->
                    <div class="members-detail">
                        <img src="Assets/angad.jpg" alt="" class="img-responsive" title=""><!-- Member Image  -->
                        <h4>Angad Dubey</h4><!-- Member Name  -->
                        <p><strong>Lead Developer at The Networking Effects</strong></p><!-- Member Title  -->
                        <p class="desc">Originally from India, Angad travelled extensively finally settling in Canada. A passionate learner, Angad keeps abreast of emerging technological trends so he can continue to build cutting edge, usable and fast software. When not constructing new web applications or dabbling in code Angad enjoys gaming and playing the guitar.</p>

                    </div>
                    <!-- End Member Details  -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 members-holder">
                    <div class="members-detail">
                        <img src="Assets/slevin.jpg" alt="" class="img-responsive" title="">
                        <h4>Slevin Zhang</h4>
                        <p>Software Developer / Student</p>
                        <p class="desc">Slevin is a 2nd year student in IWDD at Georgian College. A passionate geek, he spends his time learning and developing apps. He showed his worth for his co-op at Canadian Tire where most of his team mates were dependant of him. During his spare time, he teaches programming or learns new technologies.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 members-holder">
                    <div class="members-detail">
                        <img src="Assets/hoshino.jpg" alt="" class="img-responsive" title="">
                        <h4>Katsura Hoshino</h4>
                        <p>Manga Writer</p>
                        <p class="desc">Katsura Hoshino (星野 桂 Hoshino Katsura?, born April 21, 1980) is a Japanese manga writer and artist from Shiga Prefecture. She made her debut in July 2003 with the publication of her first manga series Continue and is known for her work, D.Gray-man, which began serialization in Shueisha's Weekly Shōnen Jump in May 2004.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Main Content -->

<% include partials/footer.ejs %>